 
 /* design colors */
 $primary: hsl(358, 100%, 74%);
 $secondary-light-blue: circle, rgba(48,193,195,1) 0%, rgba(27,163,207,1) 100%;
 $tertiary: circle, rgba(55,33,195,1) 0%, rgba(50,115,231,1) 100%;
 $round-clr-splash:  hsl(235, 64%, 59%);
 $bar-clr: hsl(60, 100%, 100%);