/* font weight */
$fw-primary: 400;
$fw-secondary: 900;


/* font size */
$fs-primary: 1.350rem;
$fs-secondary: 0.850rem;


/* line hight */
$line-h: 1.50rem;

/* font color */
$clr-primary: hsl(60, 100%, 100%);
$clr-secondary: hsl(0, 0%, 18%);
$clr-accent: hsl(248, 3%, 45%);